
<!DOCTYPE html>
<html lang="zh-CN" >
<head>

	<meta charset="utf-8">
	<title>后台管理模板系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
	
		<script src="/Res/js/jquery.min.js"></script>
<style type="text/css">
.main-layout-side .m-logo {

		width: 100%;
		height: 40px;
		background: #00b5f9;
		text-align: center;
		line-height: 40px;
		font-weight: 800;
		font-size: 20px;
		color: white;
		font-style: oblique;
}
.layui-nav .layui-nav-item {
		line-height: 40px;
}
	
</style>
</head> 
<body >
<body class="layui-layout-body">
	
	<div id="LAY_app">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<!-- 头部区域 -->
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item layadmin-flexible" lay-unselect>
						<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩" lay-tips="侧边伸缩">
							<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
						</a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;" layadmin-event="refresh" title="刷新">
							<i class="layui-icon layui-icon-refresh-3"></i>
						</a>
					</li>
				</ul>
				<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
					<li class="layui-nav-item" lay-unselect>
						<a lay-hrefx="app/message/index.html" layadmin-event="message" lay-text="消息中心">
							<i class="layui-icon layui-icon-notice"></i>	
							
							<!-- 如果有新消息，则显示小圆点 -->
							<span class="layui-badge-dot"></span>
						</a>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:;" layadmin-event="theme">
							<i class="layui-icon layui-icon-theme"></i>
						</a>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:;" layadmin-eventx="note">
							<i class="layui-icon layui-icon-note"></i>
						</a>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:;" layadmin-event="fullscreen">
							<i class="layui-icon layui-icon-screen-full"></i>
						</a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;">
							<cite><%=request.getSession().getAttribute("UserName") %></cite>
						</a>
						<dl class="layui-nav-child">
							<dd><a lay-hrefX="set/user/info.html">基本资料</a></dd>
							<dd><a lay-hrefX="set/user/password.html">修改密码</a></dd>
							<hr>
							<dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
						</dl>
					</li>
					
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
					</li>
					<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
						<a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
					</li>
				</ul>
			</div>
			
			<!-- 侧边菜单 -->
			<div class="layui-side layui-side-menu">
				<div class="layui-side-scroll">
					
					
					
					
					<script type="text/html" template lay-url="/ls/web/system/LeftSideMenu.json?v={{ layui.admin.v }}"  lay-done="layui.element.render('nav', 'layadmin-system-side-menu');" id="TPL_layout">
								<div class="layui-logo" lay-hrefX="home/console.html">
									<span>WebApp管理系统</span>
								</div>
								<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
								{{#
									layui.each(d, function(index, item){
										console.log(item);
									}
								#}}
								</ul>

					</script>

			
			
				</div>
			</div>

			<!-- 页面标签 -->
			<div class="layadmin-pagetabs" id="LAY_app_tabs">
				<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
				<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
				<div class="layui-icon layadmin-tabs-control layui-icon-down">
					<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
						<li class="layui-nav-item" lay-unselect>
							<a href="javascript:;"></a>
							<dl class="layui-nav-child layui-anim-fadein">
								<dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
								<dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
								<dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
					<ul class="layui-tab-title" id="LAY_app_tabsheader">
						<li lay-id="home" lay-attr="home" class="layui-this"><i class="layui-icon layui-icon-home"></i><span style="padding: 0px 10px;display: inline-block;">首页</span></li>
					</ul>
				</div>
			</div>
			
			
			<!-- 主体内容 -->
			<div class="layui-body" id="LAY_app_body">
				<div class="layadmin-tabsbody-item layui-show">
					<div style="padding: 20px;background-color: #fff;">
						<div>电子商务操作平台</div>
						<jsp:include page="/Content/updateLog.jsp"/>
					</div>
				</div>
			</div>

			<!-- 辅助元素，一般用于移动设备下遮罩 -->
			<div class="layadmin-body-shade" layadmin-event="shade"></div>
		</div>
	</div>

	<script src="../layuiadmin/layui/layui.js"></script>
	<script>
	layui.config({
		base: '../layuiadmin/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	}).use('index');
	</script>
	



<script type="text/javascript">

function CreateMenu()
{

	var tree = [
		{
			'text': '电商操作',
			'href': '#',
			'id': '2',
			'icon':'layui-icon-app',
			'nodes': [
				{
					'text': '订单查询',
					'href': '/Content/BookingOrder/Form/BookingOrderQuery.jsp?',
					'id': '21'
				},
				{
					'text': '飞猪订单查询',
					'href': '/Content/TaoBao/Form/alitripTravelTradesSearch2.jsp?',
					'id': '22'
				}
			]
		},
		{
			'text': '基础信息',
			'href': '#',
			'id': '3',
			'icon':'layui-icon-set',
			'nodes': [
				{
					'text': '供应商',
					'href': '/Content/Base/Form/SupplierInfo.jsp?',
					'id': '31'
				},
				{
					'text': '短信模板',
					'href': '/Content/System/MessageTemplate.jsp?',
					'id': '32'
				},
				{
					'text': '顺风参数配置',
					'href': '/Content/SF/SFConfig.jsp?',
					'id': '33'
				}
			]
		},
		{
			'text': '产品管理',
			'href': '#',
			'id': '1',
			'icon':'layui-icon-component',
			'nodes': [
				{
					'text': '产品类型',
					'href': '/Content/Product/Form/ProductType.jsp?',
					'id': '11'
				},
				{
					'text': '产品资料',
					'href': '/Content/Product/Form/ProductInfo.jsp?',
					'id': '12'
				},
				{
					'text': '产品上线',
					'href': '/Content/Product/Form/ProductPackage.jsp?',
					'id': '13'
				}
			]
		}

	];
	for (i in tree)
	{
		console.log(tree[i])
		var p = tree[i];
		var li = $('<li data-name="home" class="layui-nav-item"></li>');
		li.append('<a href="javascript:;" lay-tips="' + p.text + '" lay-direction="2"><i class="layui-icon ' + p.icon + '"></i><cite>' + p.text + '</cite></a>');
		

		
		if (p.nodes.length > 0)
		{
			var dl = $('<dl class="layui-nav-child"></dl>');
			for (j in p.nodes)
			{
				var nodes = p.nodes[j];
				var dd = '<dd><a href="javascript:;" lay-href="<%=request.getContextPath() %>' + nodes.href + '" >' + nodes.text + '</a></dd>'
				dl.append(dd);
			}
			li.append(dl);
		}
		$('.layui-side-menu .layui-nav').append(li);
	}
}
$(function(){
	CreateMenu();
})
</script>

</body>
</html>